extends layout

block content
  h1= title
  p Welcome to #{title}
  blockquote= info
  div.cam
    h2 Bowler Cam
    img#cam(src='/images/cam.jpeg',width='544',height='288')
  div.led
    h2 These flashing LEDs, whats that all about?
    p Lorem ipsum sed anim nulla irure esse tempor nulla. Lorem ipsum velit adipisicing aliqua velit exercitation laborum dolore laborum exercitation aliqua id ut. Lorem ipsum aute nulla irure ad anim in elit dolore ad velit pariatur. 
  div.spec
    h2 What's in the Bowler?
    p Lorem ipsum fugiat officia nostrud ea commodo amet. Lorem ipsum consectetur nulla Duis elit anim laborum nisi reprehenderit non in dolor. Lorem ipsum in ad do aliqua esse occaecat incididunt adipisicing consectetur Duis et officia qui non cillum. 
  div.twitter
    h2 Twitter
    p @nodebowler

  a(href='/light-show') Trigger LEDs