doctype 5
html
  head
    title= title

    // CSS
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400', rel='stylesheet')
    link(rel='stylesheet', href='/css/style.css')

    link(rel='icon', href='/images/favicon.ico')

  body

    header
      .container
        hgroup
          h1
            a(href='/')= title
          p The Splendid Interactive Hat
        nav
          ul
            li.nav-node: a(href='http://nodejs.org/') Node.js
            li.nav-raspberry: a(href='http://www.raspberrypi.org/') Raspberry Pi
            li.nav-lxjs: a(href='http://2012.lxjs.org/') LXJS

    block content

    footer
      .container
        nav
          ul
            li.nav-twitter: a(href='http://twitter.com/nodebowler') @nodebowler
            li.nav-github: a(href='https://github.com/serby/bowler') GitHub

  block script
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='/js/bowler.js')
    script(src='js/facedetection/ccv.js')
    script(src='js/facedetection/face.js')
    script(src='js/jquery.facedetection.js')